@page "/products/{Id:int}"

<h1>Produktdetalj</h1>

@* TODO: Visa produktdetaljer och lägg till i kundvagn *@

@code {
    [Parameter] public int Id { get; set; }

    // TODO: Hämta produkt via IProductService
}
