@using FSHandelsAppen.Shared.DTOs

<div class="cart-summary">
    @* TODO: Visa kundvagnssammanfattning *@
</div>

@code {
    [Parameter] public List<CartItemDto> Items { get; set; } = new();

    // TODO: Beräkna totalpris
}
