@using FSHandelsAppen.Shared.DTOs

<div class="card">
    @* TODO: Visa produktinformation *@
</div>

@code {
    [Parameter] public ProductDto? Product { get; set; }

    // TODO: Lägg till i kundvagn-knapp
}
